# Capstone Project Group 1
## Analysis of the Economic Impact of Tourism in Southeast Asia

In [5]:
#packages to work with

import pandas as pd
#import psycopg2
#import sql_functions as sf    #postgres SQL
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import scipy as stat
#import sqlalchemy
import chardet

#import also any other own custom functions packages if needed
#copy our custom functions(sql_functions) file in this repository so that there is an access to the main functions there
#(upload it on main so that the others can pull it)

In [1]:
# Import requests package
import requests

In [ ]:
# Set URL as url
#url = ''

In [ ]:
# To be able to pull the API key from the .env, we need to import and run the load_dotenv function from the dotenv module first.
#from dotenv import load_dotenv
#load_dotenv()

In [ ]:
#read excel data into pandas DataFrame

#pd.read_excel()

In [8]:
#read in your csv data into pandas DataFrame

asean_visitors = pd.read_csv('data/pivot.csv', header=1)

In [22]:
asean_visitors.head(1)

,Destination Country,Origin Country,1995,1996,1997,1998,1999,2000,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Brunei Darussalam,Total Country (World),NaN,NaN,643 215,964 080,954 907,984 093,840 272,890 688,...,3 279 160,3 885 537,218 213,218 809,258 955,278 136,333 244,62 325,3 543,35 701

In [63]:
asean_visitors['avg_visitors'] = asean_visitors.mean(numeric_only=True, axis=1).astype(float)

In [61]:
asean_visitors.loc[:, '1995':'2022'] = asean_visitors.loc[:, '1995':'2022'].replace(' ','', regex=True)

In [70]:
asean_visitors.loc[:, 'Destination Country':'Origin Country'] = asean_visitors.loc[:, 'Destination Country':'Origin Country'].lower().replace(' ','_')

AttributeError: 'DataFrame' object has no attribute 'lower'

In [15]:
employment_ocup = pd.read_excel('data/Number of Employment in ASEAN by Occupation .xlsx')

In [18]:
employment_ocup.set_index('Occupation', inplace=True)

In [19]:
employment_ocup1 = employment_ocup.transpose()

In [21]:
employment_ocup1.head(1)

Occupation,"Professionals, technical and related workers","Administrative, executive and managerial workers",Clerical and related workers,Services and sales workers,"Agricultural, animal husbandry and forestry workers; fishermen and hunters","Production and related workers, transport equipment operators and labourers",Others,Total
Brunei Darussalam\n(2022),57.849,16.881,21.366,47.528,2.735,28.657,35.506,210.522

In [31]:
gdp_data = pd.read_csv('data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_39.csv')

In [32]:
gdp_data.columns.str.lower()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.121696e+10,2.230747e+10,2.370247e+10,2.577938e+10,2.804954e+10,3.037491e+10,...,8.992957e+11,8.298300e+11,9.401055e+11,1.012719e+12,1.006527e+12,9.290741e+11,1.086772e+12,1.183962e+12,1.236163e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,1.450216e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.188413e+10,1.268566e+10,1.360683e+10,1.443998e+10,1.576911e+10,1.693448e+10,...,7.693673e+11,6.921811e+11,6.857502e+11,7.681896e+11,8.239336e+11,7.871467e+11,8.459930e+11,8.771408e+11,7.965862e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.472296e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.043835e+10,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.382914e+11,4.201178e+11,4.052709e+11,3.777816e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.816263e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10,2.653827e+10,NaN

In [72]:
gdp_data.reset_index('Country Code', inplace=True)

KeyError: 'Requested level (Country Code ) does not match index name (None)'

In [ ]:
#switch columns and rows
# return the transpose 
#result = df.transpose() 
  
# Print the result 
#print(result)